body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  color: red;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; 
  background-color: black;
  color: red;
  height: 75px; 
}

video#backgroundVideo {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
  object-fit: cover;
  pointer-events: none;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: auto;
  width: 50px; 
}

.name {
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-size: 20px; 
}

.search-bar {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.search-bar form {
  display: flex;
  width: 100%; 
  justify-content: center;
  align-items: center;
}

.search-bar input {
  padding: 6px;
  width: 70%; 
  border: none;
  border-radius: 5px;
  height: 25px;
  font-size: 15px;
}

.search-bar button {
  padding: 6px 10px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: red;
  cursor: pointer;
  font-size: 15px;
}

.search-bar button:hover {
  background-color: #777;
}

.icons {
  display: flex;
  align-items: center;
  margin-top: 10px;
  text-decoration: none;
}

.picture-icon {
  margin-left: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  text-decoration: none;
}

.picture-icon img {
  height: auto;
}

.picture-icon p {
  margin-top: 5px;
  font-size: 15px;
  background-color: black;
  color: red;
  text-decoration: none;
  text-align: center; 
}

.picture-icon a {
  text-decoration: none; 
}

nav {
  background-color: black;
  color: red;
  padding: 5px; 
  font-size: 25px; 
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  background-color: black;
  color: red;
  text-decoration: none;
  font-size: 20px; 
}

nav ul li a:hover {
  text-decoration: underline;
}

.ligne-rgb {
  height: 5px; 
  background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
  background-size: 200% 100%;
  animation: rgbAnimation 5s linear infinite;
}

@keyframes rgbAnimation {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 200% 50%;
  }
}

.forgot-password {
  max-width: 450px;
  border-radius: 10px;
  padding: 20px;
  color: red;
  background-color: black;
  box-shadow: 0px 87px 78px -39px rgba(0,0,0,0.4);
  margin: auto;
  margin-top: 50px;
}

title {
  color: red;
  background-color: black;
  text-align: center;
}
  
.forgot-password .title {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1.25rem;
  color: rgba(0, 0, 0, 1);
}
  
.forgot-password .sub-title {
  margin-top: 0.4rem;
  font-size: 1rem;
  line-height: 1.5rem;
}
  
.reset-option {
  margin-top: 1rem;
  margin-bottom: 15px;
}
  
.reset-option label {
  cursor: pointer;
  overflow: hidden;
  border: 2px solid rgba(229, 231, 235, 1);
  border-radius: 0.375rem;
  background-color: #CCCCCC;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem .4rem;
  margin: 10px 0;
  transform: all .15s ease;
}
  
.reset-option label .reset-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
  
.reset-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  color: #4f46e5;
  width: 80%;
}
  
.reset-sub-title {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
  
.reset-option input:checked + label {
  border-color: #FA2742;
}
  
.send-btn {
  text-decoration: none;
  width: 80%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  background-color: #FA2742;
  padding: 1rem 3rem;
  font-weight: 600;
  color: #000;
  transform: all .15s ease;
}
  
.send-btn:hover {
  opacity: 0.9;
}
  
.reset-option input {
  display: none;
}
  
.resend {
  color: #4f46e5;
  font-weight: 600;
  text-decoration: none;
}
  
select {
  width: 100%;
  padding: 10px;
  margin: 10px 0 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
    
.result {
  margin-top: 20px;
  padding: 10px;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
}
  
.LoginIcon {
  z-index: 10;
  width: 1000px;
  height: 1000px;
}
  